<section class="jumbotron text-center home-banner">
  <div class="container">
    <h3 class="text-muted">Welcome To The</h3>
    <h1 class="jumbotron-heading">ultimate match tracker</h1>
    <h2 class="text-muted">for HearthStone</h2>
    <p>
      <%= link_to 'Sign Up Free', signup_path, class: 'btn btn-primary' %>
    </p>
  </div>
</section>