<div class="container main-main">
  <div class="row">
    <div class="col-12">
      <h2>Log in</h2>
      <%= link_to "Log in with BattleNet", omniauth_authorize_path('user', 'bnet') %>
    </div>
  </div>
</div>