<div class="row">
  <div class="col-12">
    <h2>Players</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Win / Lose</th>
          <th>Matches Played</th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= link_to player.bnet_name, player %></td>
            <td><%= player.winner_matches.count %> - <%= playerWins(player.id).count %></td>
            <td><%= findMatches(player.id).count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>